@charset "UTF-8";

/* ==========================================================================
    Prototype -- Version: 1.9.0.5  - Updated: 2/4/2014
   ========================================================================== */

// For Prototype Demo ONLY!! Don't ever ingest this file...EVER!

.viewport, .loadtime, .pv {
  @include padding(.5em, 1em);
  position: fixed;
  background: rgb(0, 43, 54);
  background: rgba(0, 43, 54, $site-alpha);
  font-family: $pre;
  color: #0f0;
  z-index: 100;
}

.pv {
  @include border-radius(0 0 3px 0);
  top: 0;
  left: 0;
  cursor: pointer;
}

.viewport {
  @include border-radius(0 0 0 3px);
  top: 0;
  right: 0;
}

.loadtime {
 @include border-radius(0 3px 0 0);
 bottom: 0;
 left: 0;
}

.internal {
  @include padding(1em);
  margin-bottom: 1em;
  color: #D4D5D6;
  text-align: center;
}

@media (max-width: $small) {

  .pv {
    display: none;
  }

  .fold {
    position: absolute;
    top: 480px;
    left: 0;
    width: 100%;
    border-top: 1px solid #0f0;
    z-index: 10000;
  }

}
