// For Styleguide Demo ONLY!! Don't ever ingest this file...EVER!
@charset "UTF-8";

.styleguide {
  nav {
    position: relative;
    z-index: 9;

    .twc-container {
      position: relative;
      padding: 0;
    }
  }

  .twc-bc-container {
    @include padding(0);
    overflow: auto;
  }

  aside {
    padding-bottom: $base-spacing;
  }

  .twc-breadcrumbs {
    @include padding($base-spacing 0);
    position: relative;
    font-weight: bold;

    .twc-container {
      padding: 0;
    }

    ul {
      @include font-size(14);
      padding-top: 0;
    }
  }

  .twc-right {
    margin: 0;
  }

  .twc-box-column {
    clear: both;
    border: 10px solid $text-lightgrey;
    border-radius: 0;
  }

  .sub-section {
    position: relative;
  }

  .back-to-parent {
    margin-bottom: $base-spacing;
  }

  .btn {
    &.go {
      position: absolute;
      top: 0;
      right: 0;
      bottom: unset;
    }
  }

  .expandable li h6 {
    background-color: #369;
    background-image: none;
    cursor: pointer;
  }

  .colors {
    @include padding($base-spacing);
    @include border-radius;

    &.white {
      outline: 1px solid lighten($lightgrey, 30%);
    }

    @include bp($medium) {
      margin-bottom: $base-spacing / 2;
    }
  }

  .swatch {
    margin-bottom: $base-spacing;
    @include border-radius;
    overflow: auto;
  }

  .swatch-color {
    position: relative;
    @include padding(3.5em, $base-spacing);

    &.white {
      border: 1px solid $lightgrey;
      border-bottom: none;
    }

    &:before,
    &:after  {
      position: absolute;
      content: '';
      top: 0;
      right: 2em;
      height: 100%;
      padding: 1em;
      background-color: hsla(100, 100, 100, .1);
    }

    &:after {
      right: 0;
      background-color: hsla(0, 0, 0, .1);
    }

    @include bp($small) {
      @include padding(1em, $base-spacing);
    }
  }

  .swatch-info {
    @include padding($base-spacing / 2);
    border: 1px solid $lightgrey;
    border-top: none;
    background: $white;
    color: $text
    ;
    text-align: center;

    p {
      margin-bottom: $base-spacing / 2;

      &:first-of-type {
        font-weight: bold;
      }
    }
  }

  .grid {
    @extend .colors;
    @include border-radius;
    background: $link;

    &:nth-of-type(even) {
      background: $offwhite;
    }
  }

  // form {
  //   input, label {
  //     display:block;
  //   }

  //   input,
  //   select,
  //   textarea {
  //     width: 100%;
  //     margin-bottom: $base-spacing;
  //   }
  // }

  .heading-font-family {
    @include font-family($heading-font-family);
  }

  /* ==========================
    Pre
   ========================== */
   pre {
    @include margin($base-spacing 0 0);
    @include padding($base-spacing);
    @include border-radius;
    overflow: auto;
    word-wrap: break-word;
    tab-size: 2;

    &.prettyprint {
      background-color: #002b36;
    }
  }

  code,
  kbd,
  pre,
  samp {
    font-family: $pre;
    font-size: 1em;
    color: $link;
  }

  [class*='banded-'] {
    overflow: auto;
  }

  .banded-brand {
    background-color: $banner-grey;

    .twc-container {
      background: $banner-grey url(https://unsplash.it/980/500/?random);
      background-size: cover;
      padding-top: $base-spacing * 3;
      padding-bottom: $base-spacing * 3;
      box-shadow: inset -300px 0px 150px -90px $banner-grey,
                  inset 400px 0px 200px -90px $banner-grey;
    }

    h1 {
      @include font-size(27);
    }

    * {
      color: $white;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    hr {
      margin: 1.5em 0;
      border: 0;
      border-top: 1px solid darken($link, 7.5%);
      border-bottom: 1px solid lighten($link, 7.5%);
    }
  }

  .banded-dark {
    background-color: $offwhite;
    padding-top: $base-spacing * 3;
    padding-bottom: $base-spacing * 3;
  }

  .banded-light {
    padding-top: $base-spacing * 3;
    padding-bottom: $base-spacing * 3;
  }

  footer {
    .twc-container {
      padding: 0;
    }
  }

  h5 {
    @include inline-block;
  }
}

/* ==========================================================================
    Accordion -- Version: 1.9.0.0 - Updated: 1/11/2014
   ========================================================================== */

   .expandable,
   .expandableHybrid {
    li {
      h6 {
        @include padding(.75em);
        @include linear-gradient(#3779b3, #02447e);
        @include font-size(14);
        margin-bottom: 0;
        border-bottom: 1px solid #e1e1e1;
        color: $text-white;
      }

      &.js-expandable,
      &.js-expandableHybrid {
        h6:after {
          float: right;
          font-family: $fontawesome;
          content: '\f107' !important;
          color: inherit;
        }

        &.js-active h6:after {
          @include rotate(-180deg);
        }
      }

      &.js-notexpandable h6:after,
      &.js-notexpandableHybrid h6:after {
        float: right;
        font-family: $fontawesome;
        content: '\f105' !important;
        color: inherit;
      }

      ul {
        display: none;
        border-right: 1px solid $lightgrey;

        @include bp(medium) {
          border-right: none;
        }

        li {
          &.js-notexpandableHybrid {
            a:after {
              float: right;
              font-family: $fontawesome;
              content: '\f105' !important;
              color: #C2C2C2;
            }
          }

          &.js-expandableHybridSub {
            a:after {
              float: right;
              font-family: $fontawesome;
              content: '\f105' !important;
              color: #C2C2C2;
            }
          }

          &.js-active.js-expandableHybridSub {
            background: #e3effb;

            a:after {
              float: right;
              font-family: $fontawesome;
              content: '\f105' !important;
              color: #C2C2C2;
            }
          }
        }
      }

      li {
        @include padding(.5em);
        border-bottom: 1px dotted $lightgrey;
      }

      &.js-last {
        border-bottom: none;
      }

      &.liState {
        background: $steelSky-light;
      }
    }
  }

  .activeContent {
    display: none;
  }

  @media (max-width: $medium) {
    .expandable, .expandableHybrid {
      li {
        ul {
          li {
            &.js-notexpandableHybrid {
              a:after {
                float: right;
                font-family: $fontawesome;
                content: '\f105' !important;
                color: #C2C2C2;
              }
            }

            &.js-expandableHybridSub {
              a:after {
                float: right;
                font-family: $fontawesome;
                content: '\f107' !important;
                color: #C2C2C2;
              }
            }

            &.js-active.js-expandableHybridSub {
              background: #e3effb;
              a:after {
                float: right;
                font-family: $fontawesome;
                content: '\f106' !important;
                color: #C2C2C2;
              }
            }
          }
        }
      }
    }
  }

  .js-open {
    ul {
      display: block !important;
    }
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 181px;

    &:before,
    &:after {
      content: '';
      display: table;
    }
  }

  .equal {
    display: table;
  }

  .bulleted li:before{
    content: '' !important;
    color: transparent;
    font-family:"FontAwesome";
    font-size:.385em;
    font-size:.5rem;
    float: none;
    line-height:3.9;
    margin-right: 0;
  }

// Google Prettify

pre {
  .tag {
    color: #f19e17 !important;
  }

  &.desert .com {
    color: #007dc3 !important;
  }

  &.desert .typ {
    color: #72ab3d !important;
  }
}
