// For Styleguide Demo ONLY!! Don't ever ingest this file...EVER!
@charset "UTF-8";

.styleguide {

  &.home {
    .equal {
      min-height: 300px;
    }
  }

  .hero-band {
    @include icon-after($icon-angle-down, $font-size: 50);
    &:after {
      @include centerer;
      font-weight: 700;

      animation-name: bounce;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      animation-duration: 3s;
    }

    @keyframes bounce {
      0%, 100% {
        transform: translateY(-35px);
      }
      20%, 80% {
        transform: translateY(-30px);
      }
    }
  }

  article {
    visibility: hidden;

    @include bp(medium) {
      @include padding(0 ($base-spacing / 2));
    }
  }

  aside {
    padding-bottom: $base-spacing;

    @include bp(medium) {
      @include padding(0 ($base-spacing / 2));
    }
  }

  nav {
    position: relative;
    z-index: 9;

    @include bp(medium) {
      position: absolute;
    }

    .twc-container {
      position: relative;
      padding: 0;
    }
  }

  .twc-bc-container {
    @include padding(0);
  }

  .twc-breadcrumbs {
    @include padding($base-spacing 0);
    position: relative;
    font-weight: bold;

    .twc-container {
      padding: 0;
    }

    ul {
      @include font-size(14);
      padding-top: 0;
    }
  }

  hr {
    &.shadow {
      display: block;
      border: none;
      height: 4px;
      background-image:url('https://business.timewarnercable.com/content/dam/business/images/global/icons/hr-shadow.png');
      background-size: cover;
    }
  }

  .cta {
    span {
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif,Sans-Serif;
      font-weight: 700;
    }
  }

  .jumpTo-anchor {
    @include font-size(24);
    margin-bottom: $base-spacing;
  }

  .twc-right {
    margin: 0;
  }

  .twc-box-column {
    clear: both;
    border: 10px solid $text-lightgrey;
    border-radius: 0;

    &-example {
      padding: 1.5em;
      margin-bottom: 2em;
      background: #fff;
      border-radius: 3px;
      background-clip: padding-box;
      box-shadow: 0 1px 2px 0 #888;
      overflow: auto;
      border: 0;
      border-top: 1px solid #ddd;
    }

    &:last-child {
      margin-bottom: 60vh;

      @include bp(medium) {
        margin-bottom: $base-spacing;
      }
    }
  }

  .sub-section {
    position: relative;
  }

  .back-to-parent {
    margin-bottom: $base-spacing;
  }

  .btn {
    &.go {
      position: absolute;
      top: 0;
      right: 0;
      bottom: unset;
    }
  }

  .expandable li h6 {
    background-color: $link;
    background-image: none;
    cursor: pointer;
  }

  .colors {
    @include padding($base-spacing);
    @include border-radius;

    &.white {
      outline: 1px solid lighten($lightgrey, 30%);
    }

    @include bp($medium) {
      margin-bottom: $base-spacing / 2;
    }
  }

  .swatch {
    margin-bottom: $base-spacing;
    @include border-radius;
    overflow: auto;
  }

  .swatch-color {
    position: relative;
    @include padding(3.5em, $base-spacing);

    &.white {
      border: 1px solid $lightgrey;
      border-bottom: none;
    }

    &:before,
    &:after  {
      position: absolute;
      content: '';
      top: 0;
      right: 2em;
      height: 100%;
      padding: 1em;
      background-color: hsla(100, 100, 100, .1);
    }

    &:after {
      right: 0;
      background-color: hsla(0, 0, 0, .1);
    }

    @include bp($small) {
      @include padding(1em, $base-spacing);
    }
  }

  .swatch-info {
    @include padding($base-spacing / 2);
    border: 1px solid $lightgrey;
    border-top: none;
    background: $white;
    color: $text
    ;
    text-align: center;

    p {
      margin-bottom: $base-spacing / 2;

      &:first-of-type {
        font-weight: bold;
      }
    }
  }

  .grid {
    @extend .colors;
    @include border-radius;
    background: $link;

    &:nth-of-type(even) {
      background: $offwhite;
    }
  }

  // Alerts
  .twc-alert-section {

    .twc-alert {
      border-bottom: 1px solid #eeeeef;
      background: #d14853;
      @include box-shadow(inset 0 -10px 14px 0 rgba(0, 0, 0, 0.2));
      color: $text-white;
    }
    .twc-container {
      @include padding(1em,2em,1em,0);
    }
    p.twc-alert-text {
      position: relative;
      @include font-family($arial);
      .twc-container {
        padding: 1em 2em 1em 0;
      }
    }

    .twc-customerLocation p.twc-alert-text:before, p.twc-alert-text:before {
      padding-right: 10px;
      @include font-family($fontawesome);
      content: '\f071';
      @include font-size(24);
      font-weight: 100;
      color: #f6b42a;
      text-shadow: 0 1px 3px #333;
      vertical-align: middle;
    }

    .twc-alert-close:after {
      position: absolute;
      top: 1em;
      right: 0;
      @include padding(0,1em);
      @include font-family($fontawesome);
      content: '\f057';
      color: #fff;
      font-weight: lighter;
    }

    a.twc-icon:hover {
      color: inherit;
    }

    @media (max-width: $medium) {

      p.twc-alert-text.twc-container {
        @include padding(1em,3em,1em,3em);
      }
      .twc-alert-close:after {
        top: .5em;
        right: 4%;
        @include font-size(24);
      }

    }

    @media (max-width: $small) {

      .twc-alert-text:before {
        @include font-size(18);
        vertical-align: baseline;
      }
      .twc-content {
        padding-top: 0;
      }
      .twc-alert-close:after {
        @include padding(0);
      }
    }

  }

  // Browser Alerts
  .twc-browser-alert-section {
    @extend .twc-alert-section;
    @include linear-gradient(#fef937, #e8d440);

    ul {
      margin-bottom: 0;
    }

    .twc-alert-close:after {
      color: $text;
    }
  }

  // form {
  //   input, label {
  //     display:block;
  //   }

  //   input,
  //   select,
  //   textarea {
  //     width: 100%;
  //     margin-bottom: $base-spacing;
  //   }
  // }

  .heading-font-family {
    @include font-family($heading-font-family);
  }

  /* ==========================
    Pre
   ========================== */
   pre {
    @include margin($base-spacing 0 0);
    @include padding($base-spacing);
    @include border-radius;
    overflow: auto;
    word-wrap: break-word;
    tab-size: 2;

    &.prettyprint {
      background-color: #002b36;
    }
  }

  code,
  kbd,
  pre,
  samp {
    font-family: $pre;
    font-size: 1em;
    color: $link;
  }

  [class*='banded-'] {
    overflow: auto;
  }

  .banded-brand {
    background-color: $banner-grey;

    .twc-container {
      background: $banner-grey url(/devtoolkit/images/HeroBanner.png);
      background-size: cover;
      padding-top: $base-spacing * 3;
      padding-bottom: $base-spacing * 3;
    }

    h1 {
      @include font-size(27);
    }

    * {
      color: $white;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    hr {
      margin: 1.5em 0;
      border: 0;
      border-top: 1px solid darken($link, 7.5%);
      border-bottom: 1px solid lighten($link, 7.5%);
    }
  }

  .banded-dark {
    background-color: $offwhite;
    padding-top: $base-spacing * 3;
    padding-bottom: $base-spacing * 3;
  }

  .banded-light {
    padding-top: $base-spacing * 3;
    padding-bottom: $base-spacing * 3;
  }

  footer {
    .twc-container {
      padding: 0;
    }
  }

  // h5 {
  //   @include inline-block;
  // }
}

/* ==========================================================================
    Accordion -- Version: 1.9.0.0 - Updated: 1/11/2014
   ========================================================================== */

   .expandable,
   .expandableHybrid {
    background-color: $white;

    li {
      h6 {
        @include padding(.75em);
        @include linear-gradient(#3779b3, #02447e);
        @include font-size(14);
        margin-bottom: 0;
        border-bottom: 1px solid #e1e1e1;
        color: $text-white;
      }

      &.js-expandable,
      &.js-expandableHybrid {
        h6:after {
          float: right;
          font-family: $fontawesome;
          content: '\f107' !important;
          color: inherit;
        }
      }

      &.js-active {
        h6 {
          background-color: #72ab3d;

          &:after {
            @include rotate(-180deg);
          }
        }

        .js-active {
          background-color: $white;

          a {
            color: #72ab3d;
          }
        }
      }

      &.js-notexpandable h6:after,
      &.js-notexpandableHybrid h6:after {
        float: right;
        font-family: $fontawesome;
        content: '' !important;
        color: inherit;
      }

      ul {
        display: none;
        border-right: 1px solid $lightgrey;

        @include bp(medium) {
          border-right: none;
        }

        li {
          &.js-notexpandableHybrid {
            a:after {
              float: right;
              font-family: $fontawesome;
              content: '\f105' !important;
              color: #C2C2C2;
            }
          }

          &.js-expandableHybridSub {
            a:after {
              float: right;
              font-family: $fontawesome;
              content: '\f105' !important;
              color: #C2C2C2;
            }
          }

          &.js-active.js-expandableHybridSub {
            background: #e3effb;

            a:after {
              float: right;
              font-family: $fontawesome;
              content: '\f105' !important;
              color: #C2C2C2;
            }
          }
        }
      }

      li {
        @include padding(.5em);
        border-bottom: 1px dotted $lightgrey;
      }

      &.js-last {
        border-bottom: none;
      }

      &.liState {
        background: $steelSky-light;
      }
    }
  }

  .activeContent {
    display: none;
  }

  @media (max-width: $medium) {
    .expandable, .expandableHybrid {
      li {
        ul {
          li {
            &.js-notexpandableHybrid {
              a:after {
                float: right;
                font-family: $fontawesome;
                content: '\f105' !important;
                color: #C2C2C2;
              }
            }

            &.js-expandableHybridSub {
              a:after {
                float: right;
                font-family: $fontawesome;
                content: '\f107' !important;
                color: #C2C2C2;
              }
            }

            &.js-active.js-expandableHybridSub {
              background: #e3effb;
              a:after {
                float: right;
                font-family: $fontawesome;
                content: '\f106' !important;
                color: #C2C2C2;
              }
            }
          }
        }
      }
    }
  }

  .js-open {
    ul {
      display: block !important;
    }
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 171px; // magic number

    &:before,
    &:after {
      content: '';
      display: table;
    }

    @include bp(medium) {
      top: initial;
    }
  }

  .bulleted li:before{
    content: '' !important;
    color: transparent;
    font-family:"FontAwesome";
    font-size:.385em;
    font-size:.5rem;
    float: none;
    line-height:3.9;
    margin-right: 0;
  }

// Google Prettify

pre {
  .tag {
    color: #f19e17 !important;
  }

  &.desert .com {
    color: #007dc3 !important;
  }

  &.desert .typ {
    color: #72ab3d !important;
  }
}
