<span id="abbreviations-and-acronyms" class="h2 jumpTo-anchor">Abbreviations &amp; Acronyms</span>

{{#if page.zoom }}

{{else}}
<div class="twc-right twc-icon-after icon-angle-right cta omega section">
  <a analyticsname="" href="abbreviations-and-acronyms.html" id="">
    <span>Zoom</span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  abbreviations and acronyms

</div>
