<span id="content-goals-and-principles" class="h2 jumpTo-anchor">Content Goals and Principles</span>

{{#if page.zoom }}

{{else}}
<div class="twc-right twc-icon-after icon-angle-right cta omega section">
  <a analyticsname="" href="{{ slugify page.subsection }}/content-goals-and-principles.html" id="">
    <span>Zoom</span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  Content Goals and Principles

</div>

