<span id="serial-commas" class="h2 jumpTo-anchor">Serial Commas</span>

{{#if page.zoom }}

{{else}}
<div class="twc-right twc-icon-after icon-angle-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/{{ slugify page.subsection }}/serial-commas.html" id="">
    <span>Zoom</span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  Serial Commas

</div>
