@charset "UTF-8";

footer {
  text-align: center;

  &.twc-footer {
    background: intial !important;
  }

  .twc-bc-footer {
    @include padding($base-spacing 0);
    background: intial !important;
  }
}
