@charset "UTF-8";

header[role=banner] {
  @include linear-gradient($white, #d0d6dd);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  .twc-container {
    @include padding(($base-spacing / 2) 0);
  }
}
