@charset "UTF-8";

header[role=banner] {
  @include linear-gradient($white, #d0d6dd);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  @include bp(medium) {
    position: relative;
  }

  .twc-container {
    @include padding(($base-spacing / 2) 0);
  }

  .h2 {
    float: right;
    margin-top: 1rem;
    text-align: right;

    @include bp(medium) {
      float: none;
      text-align: center;
    }
  }
}
