@charset "UTF-8";

// Begin Nav
nav[role=navigation] {
  display: table;
  width: 100%;
  border-top: 1px solid $lightgrey;
  background-color: $text;

  ul {
    display: table-row;
    width: 100%;
  }

  li {
    display: table-cell;
    border-right: 1px solid #cacbce;
    text-align: center;

    ul {
      @include linear-gradient($white, #ced1d5);
      display: none;
      position: absolute;
      width: auto;

      li:not(:empty) {
        border-top: 1px solid #cacbce;
        border-bottom: 1px solid #cacbce;
      }
    }

    &:hover {
      background-color: #343b46;

      a {
        font-weight: normal;
        color: $white;
      }

      ul {
        display: table;

        li {
          display: block;
          border-right: none;
          text-align: left;

          &:first-of-type {
            border-left: none;
          }

          &:last-of-type {
            border-bottom: none;
          }

          &:hover {
            a {
              color: $white;
            }
          }
        }

        a {
          display: inline-block;
          color: $white;
          width: 100%;
        }
      }
    }

    &.js-active {
      background-color: $lightgrey;

      a {
        color: $black;
      }
    }

    &:first-of-type {
      border-left: 1px solid #cacbce;
    }

    a {
      @include padding($base-spacing/2 $base-spacing);
      display: table;
      width: 100%;
      font-weight: normal;
      text-transform: uppercase;
      color: $white;
    }
  }
}
