@charset "UTF-8";

// Begin Nav
nav[role=navigation] {
  @include linear-gradient(#ced1d5, $white);
  display: table;
  width: 100%;
  border-top: 1px solid #cacbce;

  ul {
    display:table-row;
    width:100%;
  }

  li {
    display: table-cell;
    border-right: 1px solid #cacbce;
    text-align: center;

    ul {
      @include linear-gradient($white, #ced1d5);
      display: none;
      position: absolute;
      left: 0;
      width: auto;
    }

    &:hover {
      background-color: #343b46;

      a {
        font-weight: normal;
        color: $white;
      }

      ul {
        display: block;

        li {
          &:hover {
            a {
              color: $white;
            }
          }
        }

        a {
          color: $black;
        }
      }
    }

    &:first-of-type {
      border-left: 1px solid #cacbce;
    }

    a {
      @include padding($base-spacing/2 $base-spacing);
      display: table-cell;
      width: 50%;
      font-weight: normal;
      text-transform: uppercase;
      color: $black;
    }
  }
}
