---
title: Accessibility
description: ""
class: styleguide
parent: styleguide
layout: interstitial.hbs
category: Developer Toolkit
section: Accessibility
subsection:
zoom:
---

{{> accessibility-about }}

<div class="hero-band"></div>

<div class="banded-light">

  <!-- Begin Content Wrapper -->
  <section class="twc-container">
    <div class="parsys">

      <div class="33-33-33 section columnControl">
        <div class="parsys_column twc-col3_333333">

          {{> accessibility-alt-text }}

          {{> accessibility-title }}

          {{> accessibility-aria-roles }}

        </div>
        <div class="new section"></div>
      </div>

      <div class="33-33-33 section columnControl">
        <div class="parsys_column twc-col3_333333">

          {{> accessibility-508-compliance }}

          {{> accessibility-visually-hidden }}

        </div>
        <div class="new section"></div>
      </div>

    </div>
  </section>

</div>
