---
title:
description: ""
class: styleguide
parent: styleguide
layout: interstitial.hbs
---

<h1>Welcome</h1>
<p class="b">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsa laborum, possimus mollitia omnis. Asperiores maxime explicabo rem tempore sit accusantium dolor, eveniet modi libero sint, quae enim velit! Rem magnam, quod consequuntur unde, cumque, quae repellendus placeat velit nobis vero enim assumenda sed, veniam.</p>

</div>

<div class="banded-dark">
  <h2>Site Organization</h2>
  <p class="b">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam obcaecati omnis veritatis illum ad qui exercitationem harum quam nobis saepe.</p>

  <hr>

  <ul class="two_column_list">
    <li>
      <h3>Editorial Framework</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptates, fuga! Nobis.</p>

      <div class="vertical">
        <ul>
          <li>
            <a href="">link</a>
          </li>
          <li>
            <a href="">link</a>
          </li>
          <li>
            <a href="">link</a>
          </li>
          <li>
            <a href="">link</a>
          </li>
          <li>
            <a href="">link</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <h3>UI Toolkit</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptates, fuga! Nobis.</p>
      <div class="vertical">
        <ul>
          <li>
            <a href="">link</a>
          </li>
          <li>
            <a href="">link</a>
          </li>
          <li>
            <a href="">link</a>
          </li>
          <li>
            <a href="">link</a>
          </li>
          <li>
            <a href="">link</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<div class="banded-light">
  <h2>Subsection Headers</h2>
  <p class="b">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam obcaecati omnis veritatis illum ad qui exercitationem harum quam nobis saepe.</p>

  <hr>

  <ul class="three_column_list">
    <li>
      <h3>H3 Header</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae blanditiis omnis mollitia!</p>
    </li>
    <li>
      <h3>H3 Header</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ab laborum fugit corrupti ipsam explicabo!</p>
    </li>
    <li>
      <h3>H3 Header</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </li>
    <li>
      <h3>H3 Header</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae blanditiis omnis mollitia!</p>
    </li>
    <li>
      <h3>H3 Header</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ab laborum fugit corrupti ipsam explicabo!</p>
    </li>
  <ul>
</div>
