---
title: Unordered Lists
description: ""
class: styleguide
parent: styleguide
layout: default.hbs
category: Toolkit
section: Primary Elements
subsection: Lists
zoom: Unordered Lists
---


<h2>Unordered Lists</h2>

<p class="lede">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus recusandae officia repellendus ipsam, quis, quae nihil placeat saepe ea vel magni. Accusantium minima, deserunt.
</p>

<div class="twc-box-column">
  <div class="sub-section">

    <ul>
      <li>This is a list item in an unordered list</li>
      <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
      <li>
        Lists can be nested inside of each other
        <ul>
          <li>This is a nested list item</li>
          <li>This is another nested list item in an unordered list</li>
        </ul>
      </li>
      <li>This is the last list item</li>
    </ul>

    <a class="btn show-code" href="">Show Code</a>

  </div>

  <hr>

  <h4>Notes</h4>

  <hr>

  <a href="{{ site.baseurl }}/lists" class="btn">Back To Parent Section</a>

</div>
