<div class="twc-breadcrumbs">
  <div class="twc-container">
    <ul class="horizontal slashes">
      <li class="twc-first">
        <a analyticsname="" href="/">
          Editorial Framework &amp; Style Guide
        </a>
      </li>
      {{#if page.category }}
      <li>
        <a analyticsname="" href="/toolkit">
          {{ page.category }}
        </a>
      </li>
      {{/if}}
      {{#if page.section }}
      <li>
        <a analyticsname="" href="/toolkit">
          {{ page.section }}
        </a>
      </li>
      {{/if}}
      {{#if page.subsection }}
      <li>
        <a analyticsname="" href="/primary-elements">
          {{ page.subsection }}
        </a>
      </li>
      {{/if}}
      {{#if page.zoom }}
      <li class="twc-last js-last">
        <a analyticsname="" href="/lists">
            {{ pag.zoome }}
        </a>
      </li>
      {{/if}}
    </ul>
  </div>
</div>
