{{#with (bread-crumb-maker nav site.baseurl this) }}
<div class="twc-breadcrumbs">
  <div class="twc-container">
    <ul class="horizontal slashes">
      {{#each this }}
      <li>
        <a analyticsname="" href="{{ url-maker url 'normal' }}">
          {{#if title }}
            {{ title }}
          {{ else }}
          Editorial Framework &amp; Style Guide
          {{/if }}
        </a>
      </li>
      {{/each }}
    </ul>
  </div>
</div>
{{/with }}
