 	  <!-- Footer Component -->
 	  <footer role="contentinfo" class="twc-footer clear">
      <div class="twc-container twc-bc-footer">
        <div class="footer-menu">

          <div class="section">

            <div class="horizontal list pipes">
              <ul>
                <li class="twc-first js-first">
                  <div class="smartLink parbase align-middle non-indented">
                  <a analyticsname="" id="" href="/contact.html">
                      <span class="link-label">Contact / Feedback</span>
                    </a>
                  </div>
                </li>

                <li>
                  <div class="smartLink parbase align-middle non-indented">
                    <a analyticsname="" id="" href="/sitemap.html">
                      <span class="link-label">Sitemap</span>
                    </a>
                  </div>
                </li>
                <li class="twc-last js-last">
                  <div class="smartLink parbase align-middle non-indented">
                    <a analyticsname="" id="" target="_blank" href="/terms-of-use.html">
                      <span class="link-label">Terms of Use</span>
                    </a>
                  </div>
                </li>
              </ul>

            </div>

          </div>

        </div>

        <div class="section">
          <div class="parbase footer-copyright-msg">
            <div class="twc-footer-copyright-msg">
              <p>© 2000-2015 Time Warner Cable Enterprises LLC. All Rights Reserved. Time Warner Cable and the Time Warner Cable logo are trademarks of Time Warner Inc. Used under license.</p>
            </div>
          </div>
        </div>

      </div>
    </footer>
    <!-- ./Footer Component -->
