<h2>Primary Elements</h2>
<div class="accordion">
  <div class="expandable">
    <ul>
      <li class="js-notexpandable js-first"><h6>Text</h6></li>
      <li class="js-expandable js-active"><h6>Lists</h6>
        <ul style="display: block;">
          <li class="js-notexpandable js-first"><a href="/lists/#about">About</a></li>
          <li class="js-notexpandable liState"><a href="/lists/#unordered-lists">Unordered Lists</a></li>
          <li class="js-notexpandable"><a href="/lists/#ordered-lists">Ordered Lists</a></li>
          <li class="js-notexpandable"><a href="/lists/#definition-lists">Definition Lists</a></li>
          <li class="js-notexpandable"><a href="/lists/#horizontal-lists">Horizontal Lists</a></li>
          <li class="js-notexpandable js-last"><a href="/lists/#vertical-lists">Vertical Lists</a></li>
        </ul>
      </li>
      <li class="js-notexpandable"><h6>Buttons</h6></li>
      <li class="js-notexpandable"><h6>Images</h6></li>
      <li class="js-notexpandable"><h6>Links</h6></li>
    </ul>
  </div>
</div>
