<h2>{{#if page.section }} {{ section }} {{else}} {{ category }} {{/if}}</h2>
<div class="accordion">
  <div class="expandable">
    <ul>
      <li class="js-notexpandable"><h6>Text</h6></li>
      <li class="js-expandable"><h6>Lists</h6>
        <ul>
          <li class="js-notexpandable"><a href="/lists/#about">About</a></li>
          <li class="js-notexpandable"><a href="/lists/#unordered-lists">Unordered Lists</a></li>
          <li class="js-notexpandable"><a href="/lists/#ordered-lists">Ordered Lists</a></li>
          <li class="js-notexpandable"><a href="/lists/#definition-lists">Definition Lists</a></li>
          <li class="js-notexpandable"><a href="/lists/#horizontal-lists">Horizontal Lists</a></li>
          <li class="js-notexpandable"><a href="/lists/#vertical-lists">Vertical Lists</a></li>
        </ul>
      </li>
      <li class="js-notexpandable"><h6>Buttons</h6></li>
      <li class="js-notexpandable"><h6>Images</h6></li>
      <li class="js-notexpandable"><h6>Links</h6></li>
    </ul>
  </div>
</div>
