@charset "UTF-8";

/* ==========================
    Links
   ========================== */

a {
  @include margin(0);
  @include padding(0);
  @include transition;
  background-color: transparent;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: 700;
  color: $link;
  text-decoration: $base-link-text-decoration;
  cursor: pointer;

  img {
    border: 0 none;
    text-decoration: none;
  }

  &:hover {
    color: $link;
  }

  &.muted,
  .muted & {
    color: $lightgrey;
  }

  &:active,
  &:hover {
    outline: 0;
  }

  &[href^="http://"],
  &[href^="https://"] {
    color: $link;

    &:hover {
      color: $link;
    }
  }
}

// Email links
a[href^="mailto"] {
  font-weight: normal;
  color: $email-link-color;
  text-decoration: $email-text-decoration;
  @include transition;

  &:before {
    content: attr(data-cta);
  }

  &:hover:before {
    content: attr(title);
  }
}

// Phone links
a[href^="tel"] {
  @include transition;
  font-weight: normal;
  color: inherit;
  text-decoration: $phone-text-decoration;
}

.read-more {
  @include font-size(14);
  display: block;

  @include icon-after($icon-angle-right, $color: currentColor);
}

.back {
  @include icon-before($icon-angle-double-left);
  margin-bottom: $base-spacing !important;
}

.read-more a,
a.morelink {
  @include icon-after($icon-angle-down, $color: currentColor);
  font-weight: 100;
}

a.morelink.less {
  @include icon-before($icon-angle-up, $color: currentColor);

  &:after {
    content: none;
  }
}

.iconable {
  margin-left: 1.5em;
}

a[href$=".PDF"],
a[href$=".pdf"] {
  @include icon-after($icon-file-pdf-o, $color: currentColor);
}
