@charset "UTF-8";

.btn,
.button,
button,
.cta {
  @include inline-block;
  @include margin(0);
  @include padding($base-spacing/2.667 $base-spacing);
  @include border-radius;
  @include linear-gradient(#3779b3,#02447e);
  @include font-family($button-font-family);
  @include font-size(16);
  @include transition;
  bottom: $base-spacing/2;
  font-weight: 700;
  color: $base-button-color;
  border: 0;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  text-transform: $button-text-transform;
  letter-spacing: .075em;

  a & {
    color: $white;
  }

  &:hover {
    @include linear-gradient(#265a83,#1b405e);
    color: $base-button-color-hover;
  }

  &:focus {
    background-color: $base-button-color-hover;
    background-image: 0;
    outline: none;
  }

  &.btn-primary,
  &.button-primary {
    background: $base-button-color;
    color: $white;

    &:hover {
     background: $base-button-color-hover;
   }
 }

 &.btn-error {
  background: $red;
  color: $white;

  &:hover {
   background: lighten($red, 25%);
 }
}

&.btn-success {
  background: $green;
  color: $white;

  &:hover {
   background: $green;
 }
}

&.btn-info {
  background: $blue;
  color: $white;

  &:hover {
   background: lighten($blue, 20%);
 }
}

&.btn-black {
  background: $black;
  color: $white;

  &:hover {
   background: $grey;
 }
}

&:disabled,
&.js-disabled,
&.disabled {
  cursor: default;
  background: $lightgrey;
  color: $text
;
  pointer-events: none;

  &:hover,
  &:active {
   background: $base-button-color-hover;
 }
}

&.block {
  display: block;
  width: 100%;
  text-align: center;
}

&.btn-xl {
  @include padding(.75em, ($base-spacing * 2));
}

&.btn-lg {
  @include padding(.5em, ($base-spacing * 1.5));
}

&.btn-sm {
  min-width: 0;
  @include padding(($base-spacing / 6), ($base-spacing / 1.5));
}

@include bp($small) {
  &.mobile-full {
   display: block;
   width: 100%;

   a {
    display: block;
    text-align: center;
  }

  & + & {
    margin-top: $base-spacing;
  }
}

}
}

.cta {
  @include box-shadow(inset 0 0 0 .125em $white);
  color: $white;

  &:hover {
    background: none;
    @include box-shadow(inset 0 0 0 .125em $lightgrey);
    color: $lightgrey;
  }
}

@-webkit-keyframes rotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}

.progress {
  &:active,
  &.js-active {
    i:before {
      display: inline-block;
      animation: rotation 1.5s infinite linear;
    }
  }
}

/* Firefox */

@-moz-document url-prefix() {
  // Remove button padding in FF
  button::-moz-focus-inner {
    @include padding(0);
    border: none;
  }

  input {
    &[type="button"]::-moz-focus-inner,
    &[type="submit"]::-moz-focus-inner,
    &[type="reset"]::-moz-focus-inner {
      @include padding(0);
      border: none;
    }
  }
}

// ie (.ie)
// make buttons play nice in IE
.ie button {
  overflow: visible;
  width: auto;
}

// Google search on 404
.search-goog {
  input[type='text'] {
    border: 1px solid $lightgrey !important;
    padding: .5em !important;
    margin-bottom: .5em !important;
  }

  input[type='submit'] {
    @extend .btn;
    @extend .btn-primary;

    &:hover {
      color: $white;
    }
  }
}

input[type='submit'] {
  @extend .btn;
}

.facebook-button {
  @extend button;
  @include padding($base-spacing/2 $base-spacing);
  @include border-radius(0 $base-border-radius $base-border-radius 0);
  position: relative;
  margin: 0 auto;
  background-color: #567ac9;
  text-align: center;
  color: $white;

  &:before {
    @include padding($base-spacing/2 $base-spacing/1.5);
    @include border-radius($base-border-radius 0 0 $base-border-radius);
    @include font-family($fontawesome);
    @include font-size(18);
    @include transition;
    position: absolute;
    display: block;
    top: 0;
    left: -$base-spacing*1.5;
    background-color: #1f479c;
    color: $white;
    content:"\f09a";
    height: 100%;

    @include bp($small) {
      line-height: 2;
    }
  }

  &:hover {
    background-color: #1f479c;

    &:before {
      background-color: #567ac9;
    }
  }
}
