@charset "UTF-8";

details {
	@include margin(1em, 0);
	background: lighten($lightgrey, 5%);

	p {
		@include padding(1em);
	}

	summary {
		@include inline-block;
		width: 100%;
		@include padding(.5em);
		background: $grey;
		outline: none;
		color: $white;

    // Hide the Default Marker
    &::-webkit-details-marker {
      display: none;
    }

    &:before {
      @include font-family($fontawesome);
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: .5em;
      content: "\f078";
    }
  }

  &[open] summary:before {
    content: "\f077";
  }
}
