<span id="title-tag-anchor" class="h3 jumpTo-anchor">Title Tag</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/title-tag.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <p>The title global attribute contains a text representing advisory information related to the element it belongs to. Such information can typically, but not necessarily, be presented to the user as a tooltip. Here are some typical uses of this attribute:</p>

  <ul class="bulleted">
    <li>
      Link: the title or a description of the linked document
    </li>
    <li>
      Media element like an image: a description or associated credits
    </li>
    <li>
      Paragraph: a footnote or a commentary about it
    </li>
    <li>
      Quotation: some information about the author, and so on.
    </li>
  </ul>

  <p>If this attribute is omitted, it means that the title of the nearest ancestor of this element is still relevant for it (and can legitimately be used as the tooltip for that element. If this attribute is set to the empty string, it explicitly means that its nearest ancestor's title is not relevant for this element (and shouldn't be used in the tooltip for that element).</p>

  <p>Additional semantics are attached to the title attributes of the <code>&lt;link&gt;</code>, <code>&lt;abbr&gt;</code>, <code>&lt;input&gt;</code> and <code>&lt;menuitem&gt;</code> elements.</p>

</div>
