<div class="banded-light">

  <section class="twc-container">
    <div class="parsys">

      <span id="aria-roles-anchor" class="h2 jumpTo-anchor">ARIA Roles</span>

      <p>banner - typically the "header" of the page</p>
      <p>navigation - any navigation list, typically the nav element</p>
      <p>main - the main content area</p>
      <p>complimentary - information that is tangentially related to the main content</p>
      <p>contentinfo - contains information about the parent document such as copyrights and privacy statements</p>

    </div>
  </section>
</div>
