<div class="parsys parsys0 twc-col3_333333-c0 parsys_column">
  <div class="smartLink parbase section">

    <h3>
      <a href="/" analyticsname="">508 Compliance</a>
    </h3>

    <figure>
      <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
    </figure>

    <p><a href="http://www.section508.gov/ ">Section 508 of the U.S. Code</a> is the law that requires federal agencies and their contractors to adhere to a minimal level of accessibility. The law can be loosely interpreted and basically boils down to:</p>

    <blockquote>the use of text labels or descriptors for graphics and certain format elements. (HTML code already provides an "Alt Text" tag for graphics which can serve as a verbal descriptor for graphics). This section also addresses the usability of multimedia presentations, image maps, style sheets, scripting languages, applets and plug-ins, and electronic forms.</blockquote>

  </div>
</div>
