<div class="parsys parsys2 twc-col3_333333-c2 parsys_column">
  <div class="smartLink parbase section">

    <h3>
      <a href="/" analyticsname="">ARIA Roles</a>
    </h3>

    <figure>
      <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
    </figure>

    <p>banner - typically the "header" of the page</p>
    <p>navigation - any navigation list, typically the nav element</p>
    <p>main - the main content area</p>
    <p>complimentary - information that is tangentially related to the main content</p>
    <p>contentinfo - contains information about the parent document such as copyrights and privacy statements</p>

  </div>
</div>
