<div class="parsys parsys1 twc-col3_333333-c1 parsys_column">
  <div class="smartLink parbase section">

    <h3>
      <a href="/" analyticsname="">Visually Hidden Class</a>
    </h3>

    <figure>
      <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
    </figure>

    <code><.visually-hidden></code> - The Visually-Hidden class allows for 508 Compliance on an element needed for visually assisted users.

  </div>
</div>
