<span id="javascript-anchor" class="h2 jumpTo-anchor">Javascript</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right twc-icon-after icon-angle-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/javascript.html" id="">
    <span>Zoom</span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <ul class="vertical lined">
    <li>
      <p class="lede">Prefix all javascript-based selectors with js-. The idea is that you should be able to tell a presentational class from a functional class. Most of the codebase doesn't do this, let's try and move toward it.</p>
    </li>
  </ul>

</div>
