<span id="best-practices-anchor" class="h2 jumpTo-anchor">About Best Practices</span>

<p class="lede">Best coding practices are a set of informal rules that the software development community has learned over time which can help improve the quality of software. The best practices put forth are are to be the standard bearers for coding techniques when re-using or extending the TWCBC codebase.</p>
