<span id="javascript-anchor" class="h3 jumpTo-anchor">Javascript</span>

<div class="twc-box-column">

  <ul class="vertical lined">
    <li>
      <p class="lede">Prefix all javascript-based selectors with js-. The idea is that you should be able to tell a presentational class from a functional class. Most of the codebase doesn't do this, let's try and move toward it.</p>
    </li>
  </ul>

</div>
