<span id="radio-buttons-anchor" class="h3 jumpTo-anchor">Radio Buttons</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/buttons/radio-button.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <label class="cta omega section">
    <span>Select</span>
    <input type="radio" name="radio" checked>
  </label>

  <label class="cta omega section">
    <span>Select</span>
    <input type="radio" name="radio">
  </label>

</div>
