<span id="buttons" class="h2 jumpTo-anchor">Buttons</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/buttons.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="cta omega twc-icon-after icon-angle-right mobile-full">
  <a analyticsname="test" href="http://google.com">
    <span>Send Feedback</span>
  </a>
</div>

<button type="button">Button</button>

<a href="" class="button">Link</a>

<a href="/" class="button disabled">Nope</a>

