<span id="colors-acceptable-use-anchor" class="h3 jumpTo-anchor">Colors - Acceptable Use</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/colors/acceptable-use.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <div class="text-error">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quas reprehenderit officiis dolore quae, consequatur quo quasi, nostrum expedita corrupti, sed non.</div>

</div>
