<span id="box-column-anchor" class="h2 jumpTo-anchor">Box Column Component</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/box-column.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <div class="twc-box-column-example">
    This is a Box Column - it is a simple container with a mild box-shadow and spacing built in. It is a great content holder.
  </div>

</div>
