<span id="pagination-anchor" class="h2 jumpTo-anchor">Pagination</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/pagination.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <h3>Non-Chronological Content</h3>
  <div class="pagination">
    <ol>
      <li>
        <div class="cta omega twc-icon-only icon-double-angle-left page_first">
          <a href="" rel="first">
            <span class=""></span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega twc-icon-only icon-angle-left page_prev">
          <a href="" rel="prev">
            <span></span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega">
          <a href="">
            <span>1</span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega disabled">
          <a href="">
            <span>2</span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega">
          <a href="">
            <span>3</span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega twc-icon-only icon-angle-right page_next">
          <a href="" rel="next">
            <span></span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega twc-icon-only icon-double-angle-right page_last">
          <a href="" rel="last">
            <span class=""></span>
          </a>
        </div>
      </li>
    </ol>
  </div>

  <hr>

  <h3>Chronological Content</h3>
  <div class="pagination">
    <ol>
      <li>
        <div class="cta omega twc-icon-only icon-double-angle-left page_first">
          <a href="" rel="first">
            <span class=""></span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega page_prev">
          <a href="" rel="prev" class="prev">
            <span>Previous</span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega">
          <a href="">
            <span>1</span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega disabled">
          <a href="">
            <span>2</span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega">
          <a href="">
            <span>3</span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega page_next">
          <a href="" rel="next" class="next">
            <span>Next</span>
          </a>
        </div>
      </li>
      <li>
        <div class="cta omega twc-icon-only icon-double-angle-right page_last">
          <a href="" rel="last">
            <span class=""></span>
          </a>
        </div>
      </li>
    </ol>
  </div>

</div>
