<span id="accordion-anchor" class="h2 jumpTo-anchor">Accordion Component</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/accordion.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <!-- Do not copy the 'example' class, it is in place to disable clicking a lorem ipsum sample link only-->
  <div class="accordion">
    <div class="expandable">
     <ul>
       <li><h6>Lorem ipsum dolor</h6></li>
       <li><h6>Lorem ipsum dolor</h6>
         <ul>
           <li><a href="" class="example">Lorem</a></li>
           <li><a href="" class="example">Ipsum</a></li>
           <li><a href="" class="example">Dolor</a></li>
           <li><a href="" class="example">Amet</a></li>
           <li><a href="" class="example">Flipsum</a></li>
         </ul>
       </li>
       <li><h6>Lorem ipsum dolor</h6></li>
       <li><h6>Lorem ipsum dolor</h6></li>
       <li><h6>Lorem ipsum dolor</h6></li>
       <li><h6>Lorem ipsum dolor</h6></li>
       <li><h6>Lorem ipsum dolor</h6></li>
       <li><h6>Lorem ipsum dolor</h6>
         <ul>
           <li><a href="" class="example">Lorem</a></li>
           <li><a href="" class="example">Ipsum</a></li>
           <li><a href="" class="example">Dolor</a></li>
           <li><a href="" class="example">Amet</a></li>
           <li><a href="" class="example">Flipsum</a></li>
         </ul>
       </li>
     </ul>
   </div>
 </div>

</div>
