<span id="breadcrumbs-anchor" class="h2 jumpTo-anchor">Breadcrumbs</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/breadcrumbs.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <div class="twc-breadcrumbs">
    <div class="twc-container">
      <ul class="horizontal slashes">

        <li class="js-first">
          <a analyticsname="" href="/twcbcstyletempXYZ.html">
            Developer Toolkit
          </a>
        </li>

        <li>
          <a analyticsname="" href="/twcbcstyletempXYZ/component-library.html">
            Component Library
          </a>
        </li>

        <li class="js-last">
          Breadcrumbs
        </li>

      </ul>
    </div>
  </div>

</div>
