<span id="radio-buttons-anchor" class="h3 jumpTo-anchor">Radio Buttons</span>

<div class="twc-box-column">

  <label class="cta omega">
    <span>Select</span>
    <input type="radio" name="radio" checked>
  </label>

  <label class="cta omega">
    <span>Select</span>
    <input type="radio" name="radio">
  </label>

</div>
