<span id="image-helpers-anchor" class="h3 jumpTo-anchor">Images Helpers</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/image-helpers.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">
  <ul>
    <li>
      <span class="h4">.image-left - Left Aligns Image Relative to Text</span>
    </li>
    <figure>
      <img src="{{ site.baseurl }}/images/TWC_logo-placeholder.png" class="image-left width-40">
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, eligendi, dignissimos, molestias quidem architecto unde illo maxime officia maiores amet hic nam rerum vel! Architecto, temporibus, delectus sint voluptate adipisci laboriosam nulla recusandae dolore facilis ullam suscipit vitae voluptas amet iure vero vel commodi. Rerum, et, ad, reprehenderit eos consequuntur sequi temporibus exercitationem eligendi possimus cupiditate enim eveniet quaerat doloremque nam ratione assumenda magni. Veritatis, ratione, recusandae explicabo natus voluptatem odio omnis vitae ipsum iure harum. Amet, ab porro quidem magni perferendis quasi nemo sequi aliquid alias dignissimos illum ad! Culpa, enim, dignissimos ullam non earum sint cumque molestias porro.</p>

    <hr>
    <div class="clear"></div>
    <li>
      <span class="h4">.image-right - Right Aligns Image Relative to Text</span>
    </li>
    <figure>
      <img src="{{ site.baseurl }}/images/TWC_logo-placeholder.png" class="image-right width-40">
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, eligendi, dignissimos, molestias quidem architecto unde illo maxime officia maiores amet hic nam rerum vel! Architecto, temporibus, delectus sint voluptate adipisci laboriosam nulla recusandae dolore facilis ullam suscipit vitae voluptas amet iure vero vel commodi. Rerum, et, ad, reprehenderit eos consequuntur sequi temporibus exercitationem eligendi possimus cupiditate enim eveniet quaerat doloremque nam ratione assumenda magni. Veritatis, ratione, recusandae explicabo natus voluptatem odio omnis vitae ipsum iure harum. Amet, ab porro quidem magni perferendis quasi nemo sequi aliquid alias dignissimos illum ad! Culpa, enim, dignissimos ullam non earum sint cumque molestias porro.</p>
  </ul>
</div>
