<span id="helpers-anchor" class="h2 jumpTo-anchor">About Helpers</span>

<p class="lede">Helpers are 'authoring aids' that perform as object-oriented classes for projects that need only minor compisition formatting.</p>

