<span id="border-helpers-anchor" class="h3 jumpTo-anchor">Border Helpers</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/border-helpers.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <li>
    <h4>.border-radius</h4>
  </li>

  <div class="box border-radius twc-left">
    <ul>
      <li class="arialBold">
        Example:
      </li>
      <li>
        This box has a border radius of 3px. (Base Default)
      </li>
    </ul>
  </div>
  <hr class="clear">
  <li>
    <h4>.bordered-solid</h4>
  </li>
  <div class="box bordered-solid twc-left">
    <ul>
      <li class="arialBold">
        Example:
      </li>
      <li>
        This box has a bordered-solid class applied to it.
      </li>
    </ul>
  </div>
  <hr class="clear">
  <li>
    <h4>.bordered-dotted</h4>
  </li>
  <div class="box bordered-dotted twc-left">
    <ul>
      <li class="arialBold">
        Example:
      </li>
      <li>
        This box has a bordered-dotted class applied to it.
      </li>
    </ul>
  </div>

</div>
