<span id="layout-helpers-anchor" class="h3 jumpTo-anchor">Layout Helpers</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/layout-helpers.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <h5>.twc-left - Aligns Element Left</h5>

  <div class="box twc-left">
    <ul>
      <li class="arialBold">
        Example:
      </li>
      <li>
        This div is aligned to the left
      </li>
    </ul>
  </div>

  <hr class="clear">

  <h4>.twc-right - Aligns Element Right</h4>

  <div class="box right">
    <ul>
      <li class="arialBold">
        Example:
      </li>
      <li>
        This div is aligned to the right
      </li>
    </ul>
  </div>

  <hr class="clear">

  <h4>.clear - Clears a Pre-Existing Floated Element</h4>

  <div class="box clear">
    <ul>
      <li class="arialBold">
        Example:
      </li>
      <li>
      This div is full-width because the float has been 'cleared'
      </li>
    </ul>
  </div>

</div>
