<span id="images-figure-and-figcaption-anchor" class="h3 jumpTo-anchor">Figure &amp; Figcaption</span>

<div class="twc-box-column">

  <figure>
    <img alt="Bill Murray Y'all" src="http://www.fillmurray.com/g/1500/450">
    <figcaption>I'm a figcaption - I tell a bit about the image</figcaption>
  </figure>

</div>
