<span id="email-anchor" class="h3 jumpTo-anchor">Email Links</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/email.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <code>&lt;a href="mailto"&gt;</code> - <a href="mailto:syrup@pancakes.com" data-cta="Send Email" title="syrup@pancakes.com"></a>

</div>
