<span id="anchor-anchor" class="h3 jumpTo-anchor">Anchor Links</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/links/anchor.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <ul>
    <li><code>&lt;a&gt;</code> - <a href="#">This is a text link</a></li>
    <li><code>&lt;a&gt;</code> - <a href="http://google.com">This is an external text link</a></li>
  </ul>

</div>
