<span id="vertical-lists-anchor" class="h3 jumpTo-anchor">Vertical Lists</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/vertical-lists.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <ul class="vertical">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

  <hr>

  <h5>Vertical Lined - adds some visuals breaks between li's</h5>
  <ul class="vertical lined">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

  <hr>

  <h5>Vertical Striped - adds some visuals breaks between li's</h5>
  <ul class="vertical striped">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

  <hr>

  <h5>Vertical Lined &amp; Striped - well, you get it!</h5>
  <ul class="vertical lined striped">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

</div>
