<span id="horizontal-lists-anchor" class="h2 jumpTo-anchor">Horizontal Lists</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/horizontal-lists.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <h5>Horizontal Slashes</h5>
  <ul class="horizontal slashes">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

  <hr>

  <h5>Horizontal Pipes</h5>
  <ul class="horizontal pipes">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

</div>
