<span id="about-lists-anchor" class="h2 jumpTo-anchor"><em>About Lists</em></span>

<p class="lede">Unordered and ordered lists are composed virtually the same. The &lt;ul&gt; is used for non-sequential orderingm while the &lt;ol&gt; is for specific ordering and are preceeded by numbers by default. I start out by stripping all styling from any lists, including padding and margin. Bulleted lists are then classed as &lt;ul class="bulleted&gt;, etc. Lists also get classes added to the first and last item in each (.js-first / .js-last), this gets used for removing any border that we don't want to appear at the top or bottom in particular. Examples below.</p>
