<span id="audio-anchor" class="h3 jumpTo-anchor">Audio</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/multimedia/audio.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <audio src="{{ site.url }}/assets/audio/test.mp3" controls>
    <p>Your user agent does not support the HTML5 Audio element.</p>
  </audio>

</div>
