<span id="operational-message-anchor" class="h2 jumpTo-anchor">Operational Message</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/operational-message.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <!-- Operational Message Component -->
  <div class="operationalMessage">

    <div class="notices left">
      <span class="arialBold">Notices</span>
    </div>

    <div class="controls right">
      <div id="marquee-left" class="twc-icon-only icon-chevron-left left"><span></span></div>
      <div id="marquee-right" class="twc-icon-only icon-chevron-right right"><span></span></div>
    </div>

    <div class="marquee-messages left">
      <ul>
        <li>We regularly negotiate new programming contracts with local broadcasters</li>
        <li>Us regularly negotiate new programming contracts with local broadcasters</li>
        <li>You regularly negotiate new programming contracts with local broadcasters</li>
        <li>I regularly negotiate new programming contracts with local broadcasters</li>
      </ul>
    </div>

  </div>
  <!-- .Operational Message Component -->


</div>
