<span id="primary-elements-anchor" class="h2 jumpTo-anchor">About Primary Elements</span>

<p class="lede text-info">Primary Elements are generally considered to be the basic building blocks of the site. Combining these elements results in <a href="{{ site.url }}/component-library">components</a>. These elements are typically <code><html></code> tags, like buttons, fonts, and images. In addition, we extend these to include colors. A critical piece of the style guide, these are good indicators that the way markup is being written, follows the rules laid out by the style guide.</p>
