<h3 id="article-anchor">The article Element</h3>

<div class="twc-box-column">

  <p>The <code>&lt;article&gt;</code> element should contain a piece of self-contained content that could be distributed outside the context of the page. This includes things like news articles, blog posts, or user comments.</p>

  <p>You can nest <code>&lt;article&gt;</code> elements within one another. In this case it’s implied that the nested elements are related to the outer <code>&lt;article&gt;</code> element.</p>

</div>
