<span id="aside-anchor" class="h3 jumpTo-anchor">The aside Element</span>

<div class="twc-box-column">

  <p>The <code>&lt;aside&gt;</code> element is used to represent content that is tangibly related to the content surrounding it, but could be considered separate. This includes things like sidebars (like those you might find in a book), groups of <code>&lt;nav&gt;</code> elements, figures and pull quotes.</p>

</div>
