<h3 id="footer-anchor">The footer Element</h3>

<div class="twc-box-column">

  <p>The <code>&lt;footer&gt;</code> element is used to represent information about a section such as the author, copyright information, or links to related web pages.</p>

  <p>As with <code>&lt;footer&gt;</code>, the <code>&lt;footer&gt;</code> element is associated with the nearest sectioning element.</p>

</div>
