<span id="main-anchor" class="h3 jumpTo-anchor">The main Element</span>

<div class="twc-box-column">

  <p>The <code>&lt;main&gt;</code> element should contain the main content for your web page. All of this content should be unique to the individual page, and should not appear elsewhere on the site. Any content that is repeated on multiple pages (logos, search boxes, footer links, etc.) should not be placed within the <code>&lt;main&gt;</code> element.</p>

  <p>Use the ARIA role=”main” attribute here is it indicates the significance of this element to programs that don’t yet support the <code>&lt;main&gt;</code> element (such as some screen readers).</p>

  <p>You should only use one <code>&lt;main&gt;</code> element on a page, and it shouldn’t be placed within an <code>&lt;article&gt;</code>, <code>&lt;aside&gt;</code>, <code>&lt;header&gt;</code>, <code>&lt;footer&gt;</code>, or <code>&lt;nav&gt;</code> element.</p>

</div>
