<span id="about-text-anchor" class="h2 jumpTo-anchor">About Text</span>

<p class="lede">
  <blockquote>Typography has one plain duty before it and that is to convey information in writing. No argument or consideration can absolve typography from this duty. A printed work which cannot be read becomes a product without purpose.<br>
    <cite>
      - Emil Ruder, Typographie
    </cite>
  </blockquote>
</p>
