<span id="fonts-anchor" class="h3 jumpTo-anchor">Fonts</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/fonts.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <ul class="vertical lined">
    <li>
      <h5>Heading Font Family</h5>
      <p class="fonts heading-font-family">
        <br>
        <span class="b">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
        <br>
        <span class="b">abcdefghijklmnopqrstuvwxyz</span>
        <br>
        <span class="b">0123456789</span>
        <br>
        <span class="b">(.,;:’”$#@!&*)</span>
      </p>
    </li>
    <li>
      <h5>Base Font Family</h5>
      <p class="fonts base-font">
        <br>
        ABCDEFGHIJKLMNOPQRSTUVWXYZ
        <br>
        abcdefghijklmnopqrstuvwxyz
        <br>
        0123456789
        <br>
        (.,;:’”$#@!&*)
      </p>
    </li>
  </ul>

</div>
