@charset "UTF-8";

/* ==========================================================================
    Bottom Boxes - Version: 1.0.1 - Updated: 1/9/13
   ========================================================================== */

.bottom-box {
  padding: $base-spacing;
  min-height: 265px;
  overflow: auto;
  background: #98999b;
  color: $white;

  @media (max-width: $medium) {
    &:nth-child(1){
      margin-bottom: $base-spacing;
    }
  }

  @media (max-width: $small) {
    margin-bottom: $base-spacing;
  }
}
