@charset "UTF-8";

/* ==========================================================================
    Pricing -- Version: 1.0.0.1 - Updated: 2/18/2014
   ========================================================================== */

   .pricing {
    float: none;
    font-family: $twc-book;
    color: $text;

    .h4 {
      margin-bottom: 0;
      background: inherit;
      font-family: $twc-book;
      color: inherit;

      span.dollars {
        font-size: 33px;
      }

      sup {
        position: relative;
        font-size: 14px;
        top: -.5em; }
      }

      .term {
        font-size: 11px;
        display: inline-block;
        text-align: right;
        line-height: 1;
        margin-left: -1.35em;

        &.under {
          display: block;
          margin-left: 0;
        }
      }
    }

