.working-with-digital-web-marketing {
  dt {
    float: left;
    clear: left;
    width: 150px;
    text-align: right;

    a {
      font-weight: bold;
    }
  }

  dd {
    margin: 0 0 0 $base-spacing;
  }
}
