<h5>Using alt Text Properly</h5>
<p>A few tips on how and when to use the alt attribute:</p>

<ul>
  <li>Use the alt attribute for any image that is used as content.</li>
  <li>Use an empty alt atribute for any image that is decorative or not necessary for understanding the content of the page (alt=”“).</li>
  <li>Make sure the description of the image is useful. For example, if the image is your logo your alt should be your company name and not “logo”</li>
</ul>

<p>The alt attribute is meant to help users using assitive techonology not miss any content, so make sure your text is helpful to anyone not seeing the image.</p>
