<span id="breakpoints-anchor" class="h3 jumpTo-anchor">Responsive Breakpoints</span>

<div class="twc-box-column">

  <div class="vertical lined">
    <ul>
      <li class="js-first">Mobile: Up to 640px or 40em</li>
      <li>Tablet: 640px - 768px or 48em</li>
      <li class="js-last">Desktop: 769px+</li>
    </ul>
  </div>

</div>
