<ul>
  <li><code>&lt;a&gt;</code> - <a href="#">This is a text link</a></li>
  <li><code>&lt;a&gt;</code> - <a href="http://google.com">This is an external text link</a></li>
  <li><code>&lt;a href="mailto"&gt;</code> - <a href="mailto:syrup@pancakes.com" data-cta="Send Email" title="syrup@pancakes.com"></a></li>
  <li>
    <code>&lt;a href="tel"&gt;</code> - <a class="tel" href="tel:+18008519530">1-800-851-9530</a>
  </li>
</ul>
