<span id="bestPractices-anchor" class="h2 jumpTo-anchor">Best Practices</span>

<!-- <div class="right">
  <a class="btn btn-primary" href="best_practices">Isolate</a>
</div> -->
<div class="box-column clear">

	<hr>
	<h2>ARIA &amp; Accessibility</h2>
	<hr>

	<ul class="vertical lined">
		<li>
			<p class="lede">Making it possible to provide an enhanced user experience for people with disabilities when using internet applications with assistive technologies.</p>
		</li>
		<li>
			<h5>Landmark Roles</h5>

			<p>banner - typically the "header" of the page</p>
			<p>navigation - any navigation list, typically the nav element</p>
			<p>main - the main content area</p>
			<p>complimentary - information that is tangentially related to the main content</p>
			<p>contentinfo - contains information about the parent document such as copyrights and privacy statements</p>
		</li>
		<li>
			<h5>Using alt Text Properly</h5>
			<p>A few tips on how and when to use the alt attribute:</p>

			<ul>
				<li>Use the alt attribute for any image that is used as content.</li>
				<li>Use an empty alt atribute for any image that is decorative or not necessary for understanding the content of the page (alt=”“).</li>
				<li>Make sure the description of the image is useful. For example, if the image is your logo your alt should be your company name and not “logo”</li>
			</ul>

			<p>The alt attribute is meant to help users using assitive techonology not miss any content, so make sure your text is helpful to anyone not seeing the image.</p>
		</li>
		<li>
			<code><.visually-hidden></code> - The Visually-Hidden class allows for 508 Compliance on an element needed for visually assisted users.
		</li>
	</ul>
	<!-- .Best Practices Component -->

</div>

<pre>
	/*----------------------------------------------------------
	Inspiration and credits for much of this code base belong to:

	HTML5 Boilerplate :: http://html5boilerplate.com
	HTML5 Reset       :: http://html5reset.org
	Twitter Bootstrap :: http://twitter.github.com/bootstrap/
	SMACSS            :: http://smacss.com/
	CSSWizardry       :: http://csswizardry.com/
	Codeguide         :: http://codeguide.co/
	------------------------------------------------------------*/
</pre>
