<div class="banded-light">

  <section class="twc-container">
    <div class="parsys">

      <span id="visually-hidden-anchor" class="h2 jumpTo-anchor">Visually Hidden</span>

      <code><.visually-hidden></code> - The Visually-Hidden class allows for 508 Compliance on an element needed for visually assisted users.

    </div>
  </section>

</div>
