<h5>Landmark Roles</h5>

<p>banner - typically the "header" of the page</p>
<p>navigation - any navigation list, typically the nav element</p>
<p>main - the main content area</p>
<p>complimentary - information that is tangentially related to the main content</p>
<p>contentinfo - contains information about the parent document such as copyrights and privacy statements</p>
