<span id="seo-anchor" class="h2 jumpTo-anchor">SEO</span>

{{#if page.zoom }}

{{else}}
<div class="twc-right twc-icon-after icon-angle-right cta omega section">
  <a analyticsname="" href="seo.html" id="">
    <span>Zoom</span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <h5>Only One h1 Tag Per Page</h5>

  <p>While technically we <em>could</em> load a page up with h1 tags, it's a bad SEO practice and can cause penalties.</p>

  <hr>

  <h5>Use Title Attributes with Links</h5>

  <p>Using a title attribute in your anchor elements will improve accessibility when used the right way.</p>

  <p>It is important to understand that the title attribute should be used to increase the meaning of the anchor tag.</p>

  <hr>

  <h5>How Much Will A Reader Read?</h5>

  <p>"A sentence should contain no unnecessary words, a paragraph no unnecessary sentences, for the same reason that a drawing should have no unnecessary lines and a machine no unnecessary parts."</p>

  {{> SEO-main }}

  <hr>

  {{> SEO-section }}

  <hr>

  {{> SEO-article }}

  <hr>

  {{> SEO-aside }}

  <hr>

  {{> SEO-header }}

  <hr>

  {{> SEO-footer }}

</div>
