<span id="alignment-helper-anchor" class="h2 jumpTo-anchor">Text Alignment Helpers</span>

<div class="twc-box-column">

  <!-- Text Alignment Component -->
  <ul class="vertical lined">
    <li><p class="text-left"><code>.text-left</code></p></li>
    <li><p class="text-center"><code>.text-center</code></p></li>
    <li><p class="text-right"><code>.text-right</code></p></li>
    <li><p class="text-justify"><code>.text-justify</code></p></li>
  </ul>
  <!-- .Text Alignment Component -->

</div>

