<span id="layout-helper-anchor" class="h2 jumpTo-anchor">Layout Helpers</span>

<div class="twc-box-column">

  <li>
    <span class="h4">.twc-left - Aligns Element Left</span>
  </li>

  <div class="box twc-left">
    <ul>
      <li class="arialBold">
        Example:
      </li>
      <li>
        This div is aligned to the left
      </li>
    </ul>
  </div>
  <hr class="clear">
  <li>
    <span class="h4">.twc-right - Aligns Element Right</span>
  </li>

  <div class="box right">
    <ul>
      <li class="arialBold">
        Example:
      </li>
      <li>
        This div is aligned to the right
      </li>
    </ul>
  </div>
  <hr class="clear">
  <li>
    <span class="h4">.clear - Clears a Pre-Existing Floated Element</span>
  </li>

</div>
