<span id="email" class="h2 jumpTo-anchor">Email Links</span>

<div class="twc-box-column">

  <code>&lt;a href="mailto"&gt;</code> - <a href="mailto:syrup@pancakes.com" data-cta="Send Email" title="syrup@pancakes.com"></a>

</div>
