<span id="unordered-lists" class="h2 jumpTo-anchor">Unordered Lists</span>

{{#if page.zoom }}

{{else}}
<div class="twc-right twc-icon-after icon-angle-right cta omega section">
  <a analyticsname="" href="{{ slugify page.subsection }}/unordered-lists.html" id="">
    <span>Zoom</span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <h5>A Basic Unordered List</h5>
  <ul>
    <li>This is a list item in an unordered list</li>
    <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
    <li>
      Lists can be nested inside of each other
      <ul>
        <li>This is a nested list item</li>
        <li>This is another nested list item in an unordered list</li>
      </ul>
    </li>
    <li>This is the last list item</li>
  </ul>

  <hr>

  <h5>A Vertical Bulleted Unordered List</h5>
  <ul class="bulleted">
    <li>This is a list item in an unordered list</li>
    <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
    <li>
      Lists can be nested inside of each other
      <ul>
        <li>This is a nested list item</li>
        <li>This is another nested list item in an unordered list</li>
      </ul>
    </li>
    <li>This is the last list item</li>
  </ul>

  <hr>

  <div class="twc-icon-after cta omega section toggle-code" target="unordered-list">
    <a analyticsname="" href="" id="">
      <span>Show Code</span>
    </a>
    <div class="clear"></div>
  </div>

  <pre id="unordered-list" class="prettyprint prettyprinted"><span class="tag">&lt;ul&gt;</span><span class="pln">
  </span><span class="tag">&lt;li&gt;</span><span class="pln">This is a list item in an unordered list</span><span class="tag">&lt;/li&gt;</span><span class="pln">
  </span><span class="tag">&lt;li&gt;</span><span class="pln">An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </span><span class="tag">&lt;/li&gt;</span><span class="pln">
  </span><span class="tag">&lt;li&gt;</span><span class="pln">
  Lists can be nested inside of each other
  </span><span class="tag">&lt;ul&gt;</span><span class="pln">
    </span><span class="tag">&lt;li&gt;</span><span class="pln">This is a nested list item&gt;/li&gt;
    </span><span class="tag">&lt;li&gt;</span><span class="pln">This is another nested list item in an unordered list</span><span class="tag">&lt;/li&gt;</span><span class="pln">
  </span><span class="tag">&lt;/ul&gt;</span><span class="pln">
  </span><span class="tag">&lt;/li&gt;</span><span class="pln">
  </span><span class="tag">&lt;li&gt;</span><span class="pln">This is the last list item</span><span class="tag">&lt;/li&gt;</span><span class="pln">
</span><span class="tag">&lt;/ul&gt;</span></pre>

<hr>

<h3>Notes</h3>

<p>Bundle network services support frequently asked questions resources tv, tv internet access security for tv do have phone. Resources FAQs wifipasspoint advanced frequently asked questions, private business medium private PerkZone. Need PerkZone enable advanced services to, I actionable for what cloud.</p>

<p>Budget medium market, send and receive is I for have with Time Warner Cable. Design industry awardwinning FAQs enable tv resources. Industry cloud additional security small account  billing FAQs actionable email. Medium budget howto small different scalable actionable. Frequently asked questions howto hotspot FAQs additional additional, and management technology howto phone can.</p>

</div>
