<span id="horizontal-lists" class="h2 jumpTo-anchor">Horizontal Lists</span>

{{#if page.zoom }}

{{else}}
<div class="twc-right twc-icon-after icon-angle-right cta omega section">
  <a analyticsname="" href="{{ slugify page.subsection }}/horizontal-lists.html" id="">
    <span>Zoom</span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}
<div class="twc-box-column">

  <h5>Horizontal Slashes</h5>
  <ul class="horizontal slashes">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

  <hr>

  <h5>Horizontal Pipes</h5>
  <ul class="horizontal pipes">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

</div>
