<h3 id="section">The section Element</h3>

<p>The <code>&lt;section&gt;</code> element is used to represent a group of related content. This is similar to the purpose of an <code>&lt;article&gt;</code> element with the main difference being that the content within a <code>&lt;section&gt;</code> element doesn’t necessarily need to make sense out of the context of the page.</p>

<p>It’s advisable to use a heading element (<code>&lt;h1&gt;</code> – <code>&lt;h6&gt;</code>) to define the topic for the section.</p>

<p>Using this blog post as an example, you could have <code>&lt;section&gt;</code> elements that represent each of the individual parts within the post.</p>

<p>If you just need to group content together for styling purposes you should use a <code>&lt;div&gt;</code> element rather than a <code>&lt;section&gt;</code>.</p>
