// =Buttons
$base-button-bg: #3779b3;
$base-button-bg-hover: #265a83;
$base-button-color: $white;
$base-button-color-hover: $white;
$button-font-family: $heading-font-family;
$button-text-transform: normal;
