// =Buttons
$base-button-bg: $link;
$base-button-bg-hover: $link;
$base-button-color: $white;
$base-button-color-hover: $white;
$button-font-family: $heading-font-family;
$button-text-transform: uppercase;
