// =Footer
$footer-bg: $grey;
$footer-font-size: $disclaimer-text;
$footer-link-font-weight: 400;
$footer-text: $white;
$footer-link-color: $grey;
$footer-link-color-hover: $base-link-color-hover;

$shadow: false;
