// =Headings
$heading-font-family: $base-font-family-book;
$heading-font-family-light: $base-font-family-medium;
$heading-color-primary: $lightgrey;
$heading-color-secondary: $lightgrey;
$heading-line-height: 1;

$heading-list: (
  h1   36   400   $heading-font-family    $heading-color-primary       initial,
  h2   30   400   $heading-font-family    $heading-color-secondary     initial,
  h3   24   400   $heading-font-family    $heading-color-secondary     initial,
  h4   22   400   $heading-font-family    $heading-color-secondary     initial,
  h5   20   400   $heading-font-family    $heading-color-primary       initial,
  h6   18   400   $heading-font-family    $heading-color-secondary     initial
);
