// =Links
$base-link-bg: null;
$base-link-color: $link;
$base-link-color-hover: mix($link, black, 70%);
$base-link-text-decoration: none !default;
$base-link-color-alt: $link;
$base-link-color-alt-hover: mix($link, black, 10%);

// =External Links
$link-external-color: $base-link-color;
$link-external-color-hover: $base-link-color-hover;

// =Email Links
$email-link-color: $base-link-color;
$email-link-color-hover: mix($base-link-color, black, 10%);
$email-text-decoration: $text;

// =Phone Links
$phone-link-color: $link;
$phone-link-color-hover: mix($link, black, 10%);
$phone-text-decoration: none;
