// =Modals
$modal-header-bg: $lightgrey;
$modal-header-color: $text;
$modal-body-bg: $white;
$modal-body-color: $text;
$modal-link-color: $link;
$modal-link-color-hover: $link
-hover;
$modal-footer-bg: $lightgrey;
$modal-footer-color: $text;
