// =Nav
$nav-alignment: left;
$nav-positioning: -49px;
$nav-bg: transparent;
$nav-mobile-bg: $white;
$nav-bg-hover: null;
$nav-font-family: $heading-font-family-light;
$nav-font-size: 13px;
$nav-font-weight: 300;
$nav-text-transform: uppercase;
$nav-letter-spacing: .03em;
$nav-color: $text;
$nav-color-hover: $link;
$nav-dropdown-bg: $link;
$nav-dropdown-bg-hover: $link;
$nav-dropdown-font-size: $base-font-size;
$nav-dropdown-color: null;
$nav-dropdown-color-hover: $white;
$nav-dropdown-border-color: null;
$nav-dropdown-border-color-hover: null;
$nav-hamburger-bg: null;
$nav-hamburger-color: $white;
$nav-off-canvas-side: right; // left, right, down
$nav-hamburger-side: right; // if off-canvas, this should match off-canvas side
$nav-off-canvas-width: 70%;
$nav-off-canvas-bg: $white;
$nav-sticky: false !default;
