// =Typography Basics
$base-font-reset: 10px !default;
$base-font-size: 13 !default;
$base-line-height: 1.25;
$lede-font-size: 18;
$body-text: $base-font-size;
$small-body-text: $base-font-size * .875;
$disclaimer-text: $base-font-size * .75;
$legal-text: $small-body-text;

// =Modular Scale
$modular-scale-ratio: 1.61803398875;

// =Font Families List
$font-faces: (
  'TWC-Round-Book': ('TWCRound/TWC-Round-Book', 400),
  'TWC-Round-Medium': ('TWCRound/TWC-Round-Medium', 400),
  'TWC-Round-Light': ('TWCRound/TWC-Round-Light', 400),
  'fontawesome': ('icons/fontawesome-webfont', normal)
);

$font-path: 'fonts/';

// =Font Families
$base-font-family: Arial, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-family-book: $base-font-family;
$base-font-family-medium: $base-font-family;
$base-font-family-light: $base-font-family;
$fontawesome: 'fontawesome';
$pre: Inconsolata, Monaco, Consolas,'Andale Mono','Bitstream Vera Sans Mono','Courier New',Courier,monospace;

// =TWCBC Fonts
$italic: italic;
$bold: bold;
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$twc-book: 'TWC Round Book';
$twc-medium: 'TWC Round Medium';
$twc-light: 'TWC Round Light';
$pre: Inconsolata,Monaco,Consolas,"Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;

// =Inline Text Elements
$em-color: $text;
$mark-bg: $text-info;
$mark-color: $text !default;
